<div class=" search-img w-100 d-flex justify-content-center align-items-center " style="">
  
        <form class="w-50 h-25" style=";z-index: 6!important  ;"action="/search" method="GET">
     
            <div class="form-row div-form w-100" style="Background-color: rgba(7, 0, 0, 0
                )!important; border-radius:20px" >
            
                <div class="pr-4 w-50 label-float">
                    <input type="text"class="ml-4 pr-4 search-field pesquisa-local w-100"name="search" id="search" placeholder="Para onde você quer ir ?" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <label class="ml-4 w-100 " style="font-size: 20px ">Localização</label>
                    {{!-- <label for="search" class="ml-4 w-100" style="font-size: 25px;color: white  ;margin:3px 2px 2px; ">Localização</label> --}}
                </div>

                <div class=" w-25 label-float2  ">  
                    <input   type="number"  name="number" id="number" class=" search-field pesquisa-hospedes w-100" placeholder="0-100" min="0" max="100" type="number" > 
                    <label for="number" class="ml-4 h-100  w-50" style="font-size: 15px">Nº Hóspedes</label>

                </div>        
                             
                <div class=" w-25 " >
                   
                    <button class="search-botao fa-2x fa fa-search  w-25" style="margin-top:8px" type="submit"> </button>
                </div>
            </div>
        </form>
    </div>
    {{!-- Filtro da Pesquisa de Hosts --}}

   
<div class="container-fluid">
    <div class="row caixa ">
        {{#each host}}
        <div class="col-md-3 col-sm-6 col-lg-4 mb-4 ">
            
            <div class="card text-center imgCaixa  h-100 " style="background-color: rgba(77, 55, 90, 0.5)">
                <h1 style="background-color: rgb(91, 0, 114);  color:white!important" class="description  p-4"> {{this.title}}</h1>
                <a href="/search/{{this.id}}" type="button" >
                <img class=" arredondamento card-img-top h-100" src="{{this.imgPath}}"  alt="Card image"> </a>
                <div class=" card-body neg d-flex justify-content-between" style="background-color: rgb(124, 24, 163)">
                       
                    <div class="contente card-title d-flex  justify-content-between" style=" color:white!important">
                      <h3> {{this.espaco}} </h3>
                     
                       
                    </div>
                    <div class="contente card-title " style=" color:white!important">
                      <h3>  R$ {{this.preco}}/noite</h3>
                        <div class=" card-text p-4  mt-4 justify-content-between" style=" color:white!important">
                         {{#each comodidades}}
                       
                            <h4 class="tag " style="overflow-wrap: break-word"> {{this}}</h4>
                        {{/each}}
                        </div>
                    </div>

                   
                   
                </div>
            </div>
        </div>
           {{/each}}
    </div>
</div>

