<div class="jumbotron  w-100 H-25" style=" z-index: 3!important;width:auto; padding: px!important;background-color: rgba(255, 255, 255, 0)!important">
  
        <form class="w-50 " style=";z-index: 6!important;"action="/search" method="GET">
        
            <div class="form-row div-form w-100" style="Background-color: rgba(7, 0, 0, 0
                )!important; border-radius:20px" >
            
                <div class="pr-4 w-50 label-float">
                    <input type="text"class="ml-4 pr-4 search-field pesquisa-local w-100"name="search" id="search" placeholder="Para onde você quer ir ?" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <label class="ml-4 w-100 " style="font-size: 35px ">Localização</label>
                    {{!-- <label for="search" class="ml-4 w-100" style="font-size: 25px;color: white  ;margin:3px 2px 2px; ">Localização</label> --}}
                </div>

                <div class=" w-25 label-float  ">  
                    <input   type="number"  name="number" id="number" class=" search-field pesquisa-hospedes w-100" placeholder="0-100" min="0" max="100" type="number" > 
                    <label for="number" class="ml-4 h-100  w-50" style="font-size: 25px">Nº Hóspedes</label>
                    {{!-- <label for="number" class="ml-4  w-50" style="font-size: 25px ; ;10px ;margin:3px 2px 2px; ">AAAAAAAA </label> --}}

                </div>        
                             
                <div class=" w-25 " >
                   
                    <button class="search-botao fa-3x fa fa-search  pr-4  w-50" style="margin-top:9px" type="submit"> </button>
                </div>
            </div>
        </form>
    </div>
{{!-- Filtro da Pesquisa de Hosts --}}
<div class="corpo jumbotron"  
<div class="album jumbotron"  > 
    <div class="card-deck  "  >
        <div class="row " >
            {{#each host}}
                <div class="col-md-3" style="" >
                    <div class="card shadow-sm mt-4" style="width:400px;border-radius: 10%;color:white">
                       <div class="card_new card-img-top" style="	border-radius: 10%;">
                            <div class=" card-body imgbox" style=" margin-bottom =10px    width:100%	;border-radius: 10%;">
                                    <a href="/search/{{this.id}}" type="button" >
                                <img class="img_host" src="{{this.imgPath}}" style="border-radius: 10% ;margin-bottom:10px;" width="400px" height="450px" alt="tah"> </a>
                            </div>
                            
                            <div class="content row ml-1" style=" left:-1%;width:100%;">
                                <h3 class="ml-4 pr-4">{{this.title}}</h3>
                                <h3 class="pl-4"><small><strong style="color:white!important">R$ {{this.preco}}/noite</strong></small></h3>

                                <div>
                                <h5 class="tag mt-4 mb-4">{{this.espaco}}</h5>
                                
                                {{#each comodidades}}
                                        <h5 class="tag mt-4 mb-4" style="overflow-wrap: break-word"> {{this}}</h5></span>
                                {{/each}}<h5 class=" tag mb-4 mt-4">Internet</h5>
                                </div>
                                
                                
                                <span ><h4 class="tag  mt-4 mb-4">Qnt de hospedes: {{this.qntHosp}} </h4></span>
                                
                            </div>
                        </div>
                    </div>                   
                </div>
            {{/each}}
        </div>
    </div>
</div>
</div> 
