<section class="jumbotron text-center">
    <form class="inner cover" action="/search" method="GET">
        <div class="input-group mb-3">
            <input name="search" type="text" class="form-control" id="local" placeholder="Procure por uma localidade" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <label for="number">
                <input class="form-check-inline search" id="number" name="number" type="number" min="0" max="10"  style="width: 50%">
                <span class=" p-1">Nº de Hospedes</span>
            </label> 
            <div class="input-group-append">
                <button class="btn_white btn btn-outline-primary fa fa-search " type="submit"></button>
            </div>
        </div>
    </form>
</section>

{{!-- Filtro da Pesquisa de Hosts --}}
<div class="corpo">
<div class="album py-5 ">
    <div class="container " >
        <div class="row">
            {{#each host}}
                <div class="col-md-4" >
                    <div class="card mb-4 shadow-sm" style="	border-radius: 10%;">
                       <div class="card_new card-img-top" style="	border-radius: 10%;">
                            <div class=" card-body imgbox" style="	border-radius: 10%;">
                                <img class="img_host" src="/images/hostExemple.jpg" style="	border-radius: 10%;" width="350px" height="450px" alt="tah">
                            </div>
                            <div class="content">
                                <h3 class="ml-4">{{this.local}}</h3>
                                <h5>{{this.descricao}}</h5>
                                <h5 class="tag mt-4">{{this.espaco}}</h5>
                                <h5 class="tag mt-4" style="overflow-wrap: break-word"> Praia</h5></span>
                                <h5 class="card-text tag mt-4">Internet</h5>
                                <h5 class="card-text mt-2"><span class="tag">Qnt de hospedes: {{this.qntHosp}}</span></h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="/search/{{this.id}}" type="button" class="btn btn-sm btn-primary tag p-2">
                                        View
                                    </a>    <h3>
                                    <small><strong>R$ {{this.preco}}</strong>/noite</small></h3>
                                </div>
                            </div>
                        </div>
                    </div>                   
                </div>
            {{/each}}
        </div>
    </div>
</div> 


                                </div>