{{#if userInSession}}
<div class="container">
    <div class="row">
        <div class="w-100 my-md-3 pl-md-3">
            <div class="profile bg-info mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <h2>Welcome, {{ userInSession.username }}!</h2>
                <a href="/userProfile"><img class="bd-placeholder-img rounded-circle" width="300" height="300" src="images/profile.png"></a>
                    <title>Placeholder</title>
                    <react width="100%" height="100%" fill="#777"></react>
                    <text x="50%" y="50%" fill="#777" dy=".3em"></text>
                </img>
                <p>Email: {{userInSession.email}}</p>
            </div>
        </div>



        <div class="section section-tabs">
                <div class="container">
                    {{#if reservas}}
                    <div id="nav-tabs"> 
                        <h3><strong>Reservas</strong></h3>
                        <div class="row">
                            
                            {{#each reservas}}
                            <div class="col-md-6">
                                {{#with hostId}}
                                <div class="card card-nav-tabs">

                                    <div class="card-header card-header-primary">
                                        <h3><strong>{{this.title}}</strong></h3>
                                    </div>

                                    <div class="card-body">
                                        <div class="tab-content">
                                            <img class="card-img-top" src="{{this.imgPath}}" alt="host" style="height: 225px; width: 100%; display: block;" data-holder-rendered="true">
                                            <h5><strong>Localização:</strong> {{this.local}}</h5>
                                {{/with}}
                                            <h5 class="card-text"><strong>Quantidade de hospedes:</strong>  {{this.hostId.qntHosp}}</h5>
                                            <h5><strong>Price: </strong> R${{this.totalValue}},00</h5>
                                            <h5><strong>Checkin: </strong>{{this.startDate}}</h5>
                                            <h5><strong>Checkout: </strong>{{this.endDate}}</h5>
                                        </div>
                                    </div>
                  
                                </div>
                            </div>  
                        </div> 
                            {{/each}}
                            {{else}}
                            <main role="main" class="inner cover text-center">
                                <h1 class="cover-heading">NAO TEM RESERVAS AGENDAS</h1>
                            </main>
                            {{/if}}
                </div>
            </div>
        </div>
        



    </div>
</div>

{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}