{{#if userInSession}}
<div class="container">
    <div class="row">
        <div class="d-md-flex  w-100 my-md-3 pl-md-3">
            <div class="profile bg-info mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <h2>Welcome, {{ userInSession.username }}!</h2>
                <img class="bd-placeholder-img rounded-circle" width="300" height="300" src="images/profile.png">
                    <title>Placeholder</title>
                    <react width="100%" height="100%" fill="#777"></react>
                    <text x="50%" y="50%" fill="#777" dy=".3em"></text>
                </img>
                <p>Email: {{userInSession.email}}</p>
                <p>Creation date: {{userInSession.createdAt}}</p>
                <button class="btn btn-primary">
                    <a href="/userProfile">Reload the page</a>
                </button>
            </div>
        </div>

<<<<<<< HEAD
    

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <h1>Reservas</h1>
            <div class="row">
                {{#each reservas}}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
=======
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <h1>Reservas</h1>
                <div class="row">
                    {{#each reservas}}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
>>>>>>> f479c8b9e5c56637c795f179b445f7c06a6b9570
                            
                        
                                <div class="card-body">
                                    {{#each this.hostId}}
                                        <img class="card-img-top" src="/images/{{this.imgPath}}" alt="host" style="height: 225px; width: 100%; display: block;" data-holder-rendered="true">
                                        <h3>{{this.local}}</h3>
                                    {{/each}}                   
                                    <p class="card-text"><span class="tag">Qnt de hospedes: {{this.qntHosp}}</span></p>
                                    <small><strong>R$ {{this.totalValue}}</strong></small>
                                </div>
                                <p>Checkin: {{this.startDate}}</p>
                                <p>Checkout: {{this.endDate}}</p>
                            </div>
                        </div>
               
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}